/* main style */

body {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.71px;
  color: #000;
}

.link {
  text-decoration: none;
}

.li {
  list-style-type: none;
}

.visuali-hidden {
  display: none;
}

/* components  */

.section-name {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

:root {
  --hovercolor: #2196f3;
  --font-size-main: 14px;
  --font-secondary: 'Raleway', sans-serif;
  --font-main: 'Roboto', sans-serif;
}

/* header style */

.img-logo {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-part1 {
  color: var(--hovercolor);
}

.logo-part2 {
  color: black;
}

.menu-link {
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hovercolor);
}

.phone-link,
.email-link {
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.phone-link:hover,
.email-link:hover,
.phone-link:focus,
.email-link:focus {
  color: var(--hovercolor);
}

/* hero saction  */

.hero {
  background-color: #2f303a;
}

.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-button {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}

/* section-skills */

.skills-name {
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.skills-description {
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* small-portfolio-section */

/* section-teams */

.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.worker-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */
.footer-contakts {
  background-color: #2f303a;
}

.img-logo-footer {
  color: #ffffff;
}

.address-map {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-footer-number,
.link-footer-email {
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* modul window */
/* portfolio html  */
.portfolio-filters-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-filters-button:hover,
.portfolio-filters-button:focus {
  background-color: var(--hovercolor);
  color: #ffffff;
}

.portfolio-name-work {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-class-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
