/* body {
  font-family: 'Roboto', sans-serif;
}

.modal-window {
  display: none;
}

.img-logo {
  font-family: 'Oleo Script', cursive;
  /* font-family: 'Raleway', sans-serif; */
  /* width: 146px;
  height: 32px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px; */ */
  /* identical to box height */

  /* letter-spacing: 0.03em;
}

.logo-part1 {
  color: #2196f3;
}

.logo-part2 {
  color: black;
} */

/* #portfolio {
  width: 500px;
  height: 500px;
  background-color: aqua;
}

#studiy {
  width: 500px;
  height: 500px;
  background-color: rgb(88, 104, 104);
}

#contacts {
  width: 500px;
  height: 500px;
  background-color: rgb(164, 31, 212);
} */

