body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.img-logo {
  font-family: 'Oleo Script', cursive;
  font-family: 'Raleway', sans-serif;
  width: 146px;
  height: 32px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}

.logo-part1 {
  color: #2196f3;
}

.logo-part2 {
  color: black;
}

.menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
